.sidebar{
    background-color:rgb(15, 15, 14);
    color:rgba(255, 0, 0, 0.591);
    width:200PX;
    height:100%;
    position: fixed;
    padding-top: 20px;
    top: 0%;
    left:0%
}
ul{
    list-style: none;
    margin:10px;
    padding:10px;
}
 .sidebar li {
    padding:15px 20px ;
    font-family: 'Times New Roman', Times,serif;
    font-size:medium;

}
a{
    text-decoration: none;
    color:blue
}
a:hover{
    background-color: brown;
    color:blueviolet
}
.rounded-image{
    width:200px;
    height:200 px;
    border-radius:50%;
    overflow-y:none;
}



